.content-root {
    background-color: #FFF;
}

.content {
    padding: 20px;
    margin: 20px;
    background: #f2f2f2;
}

.title {
    font-size: 24px;
    color: azure;
    text-transform: capitalize;
}