.content-root {
    background-color: #FFF;
}

.content {
    padding: 2rem;
    margin: 2rem;
    background: #f2f2f2;
}

.title {
    font-size: 2.4rem;
    color: azure;
    text-transform: capitalize;
}