.app {
    background-image: url("/papyrus.png");
}

.content-root {
    background-color: #FFF;
}

.content {
    padding: 2rem;
    margin: 2rem;
}

.title {
    font-family: 'Modak', cursive;
    font-size: 2.4rem;
    color: #ECECFF;
    text-transform: capitalize;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, #2C3E50, #3498DB);
    user-select: none;
}

.logout-conteiner {
    display: inline-block;
}

.logout {
    font-size: 1.6rem;
    color: #ECECFF;
    padding-bottom: 1px;
}

.logout:hover {
    border-bottom: #e5d4ff 1px solid;
    cursor: pointer;
}
