.content-root {
    background-color: #FFF;
}

.content {
    padding: 2rem;
    margin: 2rem;
    background: #f2f2f2;
}

.title {
    font-size: 2.4rem;
    color: azure;
    text-transform: capitalize;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logout-conteiner {
    display: inline-block;
}

.logout {
    font-size: 1.6rem;
    color: azure;
    padding-bottom: 1px;
}

.logout:hover {
    border-bottom: #e5d4ff 1px solid;
    cursor: pointer;
}
