.book-card {
    margin-bottom: 15px;
}

.loading-card {
    padding: 2rem
    /*padding: .5rem;*/
    /*margin: 2rem*/
}

.loading-card-content {
    text-align: center;
    width: 10rem;
    height: 30rem;
}

ul {
    padding-inline-start: 0;
}
