html {
    font-size: 62.5%
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering:optimizeLegibility;

  font-weight: 200;
  font-style: normal;
  font-size: 4rem;
  line-height: 3.6rem;

}

